{% from 'macros/collapsible.html' import collapsible_js_init, caption_form_collapsible %}
{% from 'macros/input_fields.html' import input_fields_js_init, textarea, slide_toggle, simple_radio %}
{% from 'macros/spacer.html' import vspacer, hspacer, expandable_spacer %}

{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="p-4">
  <!-- <h1 class="text-lg text-gray-900 dark:text-gray-300">
    The Putrajaya Lake
  </h1>
  <p class="text-sm text-gray-900 dark:text-gray-300">
    Home to a variety of wild marine life, the Putrajaya Lake is a hotspot of biodiversity.
  </p> -->
  {{ contents|safe }}
</div>

<script>
  document.getElementsByTagName("p").forEach((elements) => {
    elements.classList.add("text-gray-900 dark:text-gray-300 text-sm")
  });
  document.getElementsByTagName("h1").forEach((elements) => {
    elements.classList.add("text-gray-900 dark:text-gray-300 text-lg")
  });
</script>
{% endblock %}